img {
    height: 100px; 
    width: 100px;
    margin-right: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    right: 0;
}

h3 {
    margin-left: 300px;
}

p {
    margin-left: 300px;
}