header{
    width: 100%;
    background-color: aquamarine;
    clear: both;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

img{
    float: left;
}



