<div class="seccion-2">

<h3>Experiencia laboral</h3>

<img src="images/autopartes.jpg" height="50px" width="50px">

<h4>Administrativa</h4>
<h5>Autopartes Poli</h5>
<h5>Bahía Blanca | Marzo 2020 - Actualidad</h5>
<p>
   Realización de presupuestos de autopartes para compañías de seguros y clientes particulares tanto locales como de la zona.
   Facturación electrónica de órdenes de compra.
   Control de stock de los repuestos para cumplir con la fecha de entrega de los mismos.
</p>

<img src="images/cigars.JPG" height="50px" width="50px">

<h4>Asistente de ventas</h4>
<h5>Cigar's</h5>
<h5>Bahía Blanca | Diciembre 2020 - Marzo 2022</h5>
<p> Atención al cliente dentro del principal centro comercial de la ciudad, atendiendo a diversas demandas para clientes de distintas regiones. 
    Coordinación de eventos de degustación y promoción de productos. 
    Control de stock y manejo de pedidos para mejorar la disponibilidad de los productos y la estrategia de venta en períodos de alta demanda.
 </p>

<img src="images/molinera.png" height="50px" width="50px">

<h4>Analista de control de calidad</h4>
<h5>Compañía Molinera del Sur</h5>
<h5>Bahía Blanca | Junio 2017 - Julio 2017</h5>
<p>Análisis de control de calidad de materia prima, producto y subproductos</p>

</div>