<div class="seccion-2">

<h3>Experiencia laboral</h3>
<br>

<img src="https://scontent.fbhi1-1.fna.fbcdn.net/v/t1.6435-9/83433584_124853952376853_7863816125174251520_n.png?_nc_cat=111&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=t5bFlSwI2a8AX8w5cAx&_nc_ht=scontent.fbhi1-1.fna&oh=00_AT-EIMkWtmSxQWA7b2avgpnBSrcowr-7Pz7OguvowCMgXw&oe=6287D0C6" height="75px" width="75px">

<h4>Administrativa</h4>
<h5>Autopartes Poli</h5>
<h5>Bahía Blanca | Marzo 2020 - Actualidad</h5>
<p>
   Realización de presupuestos de autopartes para compañías de seguros y clientes particulares tanto locales como de la zona.
   Facturación electrónica de órdenes de compra.
   Control de stock de los repuestos para cumplir con la fecha de entrega de los mismos.
</p>

<img src="https://scontent.fbhi1-1.fna.fbcdn.net/v/t1.6435-9/80252963_113994446768864_3411804565471756288_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=rknABeg22K8AX_X3LmC&_nc_ht=scontent.fbhi1-1.fna&oh=00_AT-z2xY3_OcWmr-DUbVAGe_fzMAkJCKn8a5awKvrIlIAng&oe=6286E49B" height="75px" width="75px">

<h4>Asistente de ventas</h4>
<h5>Cigar's</h5>
<h5>Bahía Blanca | Diciembre 2020 - Marzo 2022</h5>
<p> Atención al cliente dentro del principal centro comercial de la ciudad, atendiendo a diversas demandas para clientes de distintas regiones. 
    Coordinación de eventos de degustación y promoción de productos. 
    Control de stock y manejo de pedidos para mejorar la disponibilidad de los productos y la estrategia de venta en períodos de alta demanda.
 </p>

<img src="https://scontent.faep9-1.fna.fbcdn.net/v/t1.6435-9/40400299_2142106532700768_2319129602213019648_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=uF2fo0Qt7VYAX9ZRosn&_nc_ht=scontent.faep9-1.fna&oh=00_AT8rpdVaRDD3EyalBwE8NHTMkfxooZRwIjowPtTV6H4mBg&oe=6288E85C" height="75px" width="75px">

<h4>Analista de control de calidad</h4>
<h5>Compañía Molinera del Sur</h5>
<h5>Bahía Blanca | Junio 2017 - Julio 2017</h5>
<p>Análisis de control de calidad de materia prima, producto y subproductos</p>

</div>
<br>